
.node-visited {
	stroke-width: 2;
}

.node-visited {
    animation-name: nodeVisitedAnimation;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    cursor: default;

    /*
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    */
  }
  
  @keyframes nodeVisitedAnimation {
    50% {
        r: 30;
        fill: darkorange;
        stroke: darkorange;
    }
  
    100% {
        r:20;
        fill: rgba(0, 190, 218, 0.75);
    }
}

.node-text-visited {
    animation-name: nodeTextVisitedAnimation;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

    /*
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    */
}

@keyframes nodeTextVisitedAnimation {
    0% {
        stroke: black;
    }

    50% {
        stroke: honeydew;
        fill: honeydew;
        font-size: 20px;
    }

    100% {
        stroke: black;
    }
}

.node-cycle-found {
    animation-name: nodeCycleFoundAnimation;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeCycleFoundAnimation {
    0% {
        fill: rgba(0, 190, 218, 0.75);
    }
    50% {
        r: 40;
        fill: gold;
        stroke: gold;
    }
  
    100% {
        r:20;
        fill:rgba(50,205,50, 0.8);
    }
}

.node-unreachable {
    animation-name: nodeUnreachableAnimation;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeUnreachableAnimation {
    50% {
        r: 45;
        fill: darkslategray;
        stroke: darkslategray;
    }
  
    100% {
        r:20;
        fill:crimson;
    }
}

.node-unreachable-text-visited {
    animation-name: nodeTextVisitedAnimation;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.arrow-visited {
	stroke:cyan;
	stroke-width: 3; 
	marker-end:url(#markerArrowAnimation);
}

.arrow-visited-animate {
	stroke:cyan;
	stroke-width: 10; 
}

.node-weight-visited {
    animation-name: nodeWeightVisitedAnimation;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
    animation-delay: 600ms;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeWeightVisitedAnimation {
    100% {
        stroke: hotpink;
        fill: hotpink;
    }
}