.canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	/*height: calc(var(--height) * 1px);
	width: calc(var(--width) * 1px);*/
	transform: translate(-50%, -50%);
	border: 4px solid green;
}

.canvas-shape {
	position: absolute;
	top: 50%;
	left: 50%;
	height: calc(var(--height) * 1px);
	width: calc(var(--width) * 1px);
	transform: translate(-50%, -50%);
}

.canvas-locked {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid black;
}

.header {
	position: absolute;
	left: 50%;
	top: 5vh;
	transform: translate(-50%, 0);
} 

.node {
    position: absolute;
	fill: white;
	stroke: black;
	stroke-width: 2;
	cursor: pointer;

	/*border-radius: 100%;
	height: calc(var(--radius) * 2px);
	width: calc(var(--radius) * 2px);*/
}

.no-click-node {
	cursor: default;
}

.node-number {
	color: transparent;
	cursor: pointer;
}

.no-click-node-number {
	color: transparent;
	cursor: default;
}

.node-number::selection, 
.no-click-node-number::selection {
    background: none;
}

.delete-node-hover {
	fill: red;
	opacity: 0.8;
}

.delete-arrow-hover {
	cursor: pointer;
	stroke: red;
	stroke-width:3;
	marker-end:url(#markerArrowDelete);
}

.move-node-hover {
	fill: #7FFF00;
}

.draw-node-connection {
	fill: orange;
}

.select-start-node {
	fill: limegreen;
}

.original-node {
	background-color: gray;
	opacity: 0.2;
}

.arrow{
	stroke:rgb(0,0,0);
	stroke-width:3; 
	marker-end:url(#markerArrow);
}

.weight-input {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 100%;
	background: white;
	font-size: 16px;
	width: 25px;
	text-align: center;
    text-shadow: 0 0 0 black;
}

.weight-input-disabled {
	color: transparent;
	cursor: default;
}

input:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.animation-reset-button {
	position: absolute;
	left: 45%;
	width: 10%;
	top: 5vh;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.weight-hidden {
	fill: none;
	stroke: none;
}