
.sidebar {
    position: fixed;
    display: table-column;
    top: 50%;
    transform: translateY(-50%);
    height: 317px;
    overflow: hidden;
    width: 160px;
    background-color: rgb(214, 87, 117);
    left: 46px;
}


.panel {
    overflow: hidden;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: white;
}


.panel-element {
    overflow:hidden;
    white-space: nowrap;
    height: calc(370px / 7);
    margin: 0px;
    padding: 0px;
}

.panel-element:hover {
    background-color: black;
    cursor: pointer;
}

.panel-item::selection, 
.dropdown-item::selection,  
.weight-input::selection {
    background: none;
}

.panel-hide {
    position: fixed;
    display: table;
    top: 50%;
    transform: translateY(-50%);
    height: 317px;
    overflow: hidden;
    background-color: rgb(214, 87, 117);
    width: 43px;
    cursor: pointer;
}

.close-open {
    display: table-cell; 
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.close-open::selection {
    background: none;
}

.open-rotate {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}

.close-rotate {
    animation-name: rotate2;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes rotate2 {
    100% {
      transform: rotate(-180deg);
    }
}


.open-panel {
    animation-name: slide-open;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-open {
    0% {
        width: 0;
    }
    100% {
        width: 160px;
    }
}

.close-panel {
    animation-name: slide-close;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-close {
    0% {
        width: 160px;
    }
    100% {
        width: 0;
    }
}

.panel-item, .dropdown-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.panel-item-open {
    animation-name: open-panel-item;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes open-panel-item {
    0% {
        transform: translateX(-50%);;
    }
    100% {
        transform: translateX(-500%);
    }
}

.panel-item-close {
    animation-name: close-panel-item;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes close-panel-item {
    0% {
        transform: translateX(-500%);;
    }
    100% {
        transform: translateX(-50%);
    }
}

.dropdown-item-open {
    animation-name: open-dropdown;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes open-dropdown {
    0% {
        transform: translateX(500%);;
    }
    100% {
        transform: translateX(-50%);
    }
}

.dropdown-item-close {
    animation-name: close-dropdown;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes close-dropdown {
    0% {
        transform: translateX(-50%);;
    }
    100% {
        transform: translateX(500%);
    }
}

.graphTypeSelected {
    animation-name: highlight-green;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes highlight-green {
    0% {
        background-color: none;
    }
    100% {
        background-color: green;
    }
}

.panel-unclickable {
    cursor: not-allowed;
    pointer-events: none;
}